body{
  margin: 0;
  background: linear-gradient(119deg, #BAFFCD 31.41%, #D7B012 100.22%);
  transition: background-color 0.5s ease;
  width: 100%;
  height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
  display: flex;
  flex-direction: column;

}
.dados {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0000006a;
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.2s ease-in-out;
}

.dados:hover{
  padding: 39px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.dados a {
  color: #000000;
  text-decoration: none;
}
.dados a:hover {
  text-decoration: underline;
} 
 button {
  margin: 7px;
  background: #fdfff2;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  width: 100%;
  height: 40px;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}


.navbar{
  height: 96px;
  width: 100%;
  background: rgba(0, 11, 32, 0.65);
  position: relative;
  z-index: 9;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img{
  width: 68px;
  height: 68px;
  margin-left: 41px;
  flex-shrink: 0;
  border-radius: 100px;
}
.navbar ul{
  list-style: none;
  text-decoration: none;
  margin-right: 41px;
  color: #FFF;
  font-family: Roboto Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display:flex;
  flex-direction: row;
  padding: 10px;
}
.navbar li:hover{
  cursor: pointer;
}

.navbar li{
padding: 10px;
padding-left: 20px;
padding-right: 20px;
}
.navbar a{
  text-decoration: none;
  color: #fff;
}
